.floating-box {
  background-color: #112244;
  padding: 2rem;
  border-radius: 0 15px 15px 0; /* no rounded corners on left */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  max-width: calc(100% - 200px); /* subtract sidebar width */
  margin: 5rem 0 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 200px);
  min-height: 350px;
  color: white;
}
